.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

@media (max-width: 768px) {
  .bottom-bar {
    background-color: var(--background-secondary);
  }
}

button.collapse-sidebar {
  margin: 8px;
}

button.collapse-sidebar .open {
  display: none;
}

button.collapse-sidebar.active .open {
  display: block;
}

button.collapse-sidebar.active .close {
  display: none;
}

button.open-command-palette {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: 8px;
}

button.open-command-palette .offline {
  display: none;
}

button.open-command-palette.offline .offline {
  display: block;
}

button.open-command-palette.offline .online {
  display: none;
}
